.container {
  text-align: center;
  font-size: large;
}
.top-photo {
  border: 1px solid #000000;
  padding: 0;
  margin: 0;
  z-index: -110;
}
.top-photo img {
  width: 100%;
  max-height: 500px;
}

.top-photo h3 {
  position: absolute;
  margin-left: 50%;
  margin-top: -15%;
  color: #e0e0e0;
  font-weight: 800;
  font-size: 48px;
  font-family: "Saira", sans-serif;
}
.top-photo h5 {
  position: absolute;
  margin-left: 53%;
  margin-top: -8%;
  color: #e0e0e0;
  font-weight: 800;
  font-size: 24px;
  font-family: "Saira", sans-serif;
}
.user img {
  max-height: 300px;
  max-width: 300px;
  position: relative;
  margin-left: 10%;
  margin-top: -18%;
  border: 2px solid #ffffff;
  border-radius: 50px;
}
.about {
  margin: 0;
  padding: 0;
}
.about h3 {
  position: relative;
  margin-top: 40px;
  font-size: 26px;
  font-weight: 700;
  color: #000000;
  font-family: "Saira", sans-serif;
}

.about i {
  color: #c62828;
}

.about-in button {
  margin-top: 30px;
}

.btn-outline {
  background-color: transparent;
  color: inherit;
  transition: all 0.5s;
  margin-top: 20px;
}

.about-in a {
  font-weight: bold;
}
.details-left h3 {
  margin-top: -40px;
}

.details-left li {
  font-weight: bold;
}

ul {
  list-style: none;
}

.details-right {
  margin-left: -20px;
}

ul li:nth-child(4) {
  color: #c62828;
  font-weight: bold;
}

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

#social {
  margin: 40px 10px;
}

.smGlobalBtn {
  /* global button class */
  width: 84px;
  height: 81px;
  color: #fff;
  cursor: pointer;
  font-size: 75px;
  position: relative;
  display: inline-block;
  border: 2px solid #ddd;
  box-shadow: 0 3px 3px #999;
  text-decoration: none;
  text-align: center;
  font-weight: normal;
  line-height: 5.2rem;
  border-radius: 30px;
}

/* facebook button class*/
.facebookBtn {
  background: #bdbdbd;
}

.facebookBtn:before {
  /* use :before to add the relevant icons */
  font-family: "FontAwesome";
  content: "\f09a"; /* add facebook icon */
}

.facebookBtn:hover {
  color: #4060a5;
  background: #fff;
  border-color: #4060a5; /* change the border color on mouse hover */
}

/* twitter button class*/
.twitterBtn {
  background: #bdbdbd;
}

.twitterBtn:before {
  font-family: "FontAwesome";
  content: "\f099"; /* add twitter icon */
}

.twitterBtn:hover {
  color: #00abe3;
  background: #fff;
  border-color: #00abe3;
}

/* Github button class*/
.githubBtn {
  background: #bdbdbd;
}

.githubBtn:before {
  font-family: "FontAwesome";
}

.githubBtn:hover {
  color: #e64522;
  background: #fff;
  border-color: #e64522;
}


/* Instagram button class*/
.instagramBtn {
  background: #bdbdbd;
}

.instagramBtn:before {
  font-family: "FontAwesome";
}

.instagramBtn:hover {
  color: #cb2027;
  background: #fff;
  border-color: #cb2027;
}

/* responsive */
@media (min-width: 360px) and (max-width: 768px) {
  .user img {
    max-height: 150px;
    max-width: 150px;
  }
  .top-photo h3 {
    font-size: 16px;
  }
  .top-photo h5 {
    font-size: 16px;
    margin-left: 55%;
  }

  .btn-outline {
    margin-bottom: 60px;
  }
}
