.connect_Container {
  height: 80vh;
  width: 80vw;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  background-color: #ffd543;
  border-radius: 10px;
}
.connect_Container > img {
  height: 100px;
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 6px 10px 15px 0px;
  border-radius: 100%;
}
.link_image {
  margin-top: 2rem;
  width: 100%;
  display: flex;
}
.link_image>a{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.link_image > a > img {
  height: 40px;
  padding: 2px;
  box-shadow: 6px 8px 9px 1px;
  border-radius: 20%;
}
