@media (min-width: 390px){
  body {
    background-color: #022a5b;
    padding: 0;
  }
  .nav_bar {
    position: fixed;
    align-items: center;
    height: 2rem;
    background-color: #1057ad;
    width: 98%;
    top: 1rem;
    display: flex;
    justify-content: space-between;
    padding-top: 1px;
    padding-bottom: 1px;
    color: white;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  .nav_bar > img {
    margin: 0.5rem;
    border-radius: 20px;
  }
  .logo {
  }
}
