@font-face {
  font-family: "mom";
  src: url("/images/mom.ttf");
}

body {
  font-family: "mom";
  background-color: #203753;
}

/* MOBILE */
h1 {
  font-size: large;
  color: white;
  margin-left: 1rem;
  width: 21rem;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px solid;
  animation: typing 2s steps(80), cursor_blink 0.7s step-end infinite;
}

h1::first-letter {
  font-size: 2rem;
}

@keyframes typing {
  from {
    width: 1%;
  }
}

@keyframes cursor_blink {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: lightgreen;
  }
}

.container {
  background-color: rgb(229, 238, 241);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  border: 5px solid lightblue;
  padding: 5px;
  justify-items: center;
  border-radius: 10px;
  box-shadow: 1px 1px 7px 2px white;
}

.container>img {
  width: 30vw;
}

.Footer {
  margin: auto;
  width: 90%;
  height: 5vh;
  background-color: #287ce5;
  display: flex;
  border-radius: 20px;
  justify-content: space-around;
  margin-top: 0.3rem;
}

.Footer>a>img {
  height: 3vh;
  border-radius: 50%;
  border: 1px solid white;
  margin-top: 25%;
  background: white;
}

.Footer>a {
  font-size: 0px;
}

/* DESKTOP VIEW =========================== */
@media screen and (min-width: 814px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }

  .container>img {
    width: 20vw;
  }

  h1 {
    font-size: 3rem;
    width: 61ch;
    margin: 0;
    border-right: none;
    margin-left: 1rem;
    animation: typing 3s steps(80) alternate infinite;
  }

  h1::first-letter {
    font-size: 5rem;
  }
}