body {
  background-color: #022a5b;
  padding: 0;
}
.nav_bar {
  position: fixed;
  align-items: center;
  height: 2rem;
  background-color: #1057ad;
  width: 97%;
  border-radius: 10px;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding-top: 6px;
  padding-bottom: 5px;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.nav_bar > a > img {
  margin-top: 0.3rem;
  margin-left: 0.5rem;
  border-radius: 20px;
}

.logo {
  height: 2rem;
}
.home_lap {
  display: none;
}

/* THIS IS FOR HOVERING MOBILE MENU */
.menu {
  position: relative;
}
/* ============================MOBILE NEVBAR======================================= */
.mobile_navbar {
  font-size: 1.5rem;
  float: right;
}
.mobile_navbar_item > img {
  display: flex;
  height: 2rem;
  margin: 0.3rem;
  justify-content: flex-end;
}
.mobile_navbar_item {
  position: relative;
}
.mobile_navbar_dropdown {
  background-color: #071a32;
  position: fixed;
  opacity: 0;
  width: 100vw;
  color: white;
  transform: scale(0);
  transform-origin: top right;
  transition: transform 0.8s, opacity 0.2s;
  display: block;
  text-align: center;
  left: 0rem;
}
.mobile_navbar_dropdown > ul {
  list-style-type: none;
  padding: 8px 0px;
  color: white;
  margin-top: 6rem;
}
.mobile_navbar_dropdown > ul > li {
  color: white;
  font-size: 2rem;
  padding-bottom: 1.5rem;
}

.mobile_navbar_dropdown > ul > li > a:visited,
.mobile_navbar_dropdown > ul > li > a {
  text-decoration: none;
  color: white;
}
.mobile_navbar_item:hover .mobile_navbar_dropdown {
  opacity: 1;
  height: 100vh;
  transform: scale(1);
}

.icons {
  height: 2rem;
  padding-left: 2rem;
  position: absolute;
  padding-top: 0.3rem;
}
/* ==============================END OF MOBILE NAVBAR============================== */

/* .menu_dropdown {
  background-color: #022a5b;
  position: fixed;
  top: 2.5rem;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  transform: scale(0);
  transform-origin: top right;
  transition: transform 0.8s, opacity 0.2s;
  text-align: center;
  left: 0;
}
.menu_dropdown > ul {
  list-style-type: none;
  margin-top: 2rem;
}
.menu_dropdown > ul > li > a {
  color: white;
  text-decoration: none;
  font-size: 3rem;
}
.menu:hover,
.menu_dropdown:hover {
  opacity: 1;
  transform: scale(1);
} */
/* END */

.container,
.about {
  display: block;
  margin: auto;
  margin-top: 4.5rem;
  width: 90%;
}
.container > h2 {
  margin: 0;
  margin-top: 2rem;
  padding-left: 2rem;
  font-size: large;
  color: #64ffda;
}
.container > h5,
h4 {
  color: white;
  margin: 0;
  margin-left: 2rem;
  font-size: 1.7rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.container > h3 {
  color: rgb(184, 190, 245);
}
.container > p {
  color: #c4deff;
  font-family: cursive;
  font-size: 1.2rem;
  padding: 1rem;
}
.container > p > a {
  color: white;
}
.container > p > a:visited {
  color: white;
}
.container > a {
  height: 3rem;
  background-color: transparent;
  color: #64ffda;
  outline: none;
  margin-top: 3rem;
  padding: 0.4rem;
  font-size: 1.1rem;
  text-decoration: none;
  border-radius: 10px;
  border: 2px solid #64ffda;
  font-family: system-ui;
  margin-left: 2rem;
  cursor: pointer;
}
.about_header {
  display: flex;
  width: auto;
  align-items: center;
  padding-left: 1rem;
  margin-top: 10%;
}
.about_header::after {
  content: "";
  display: block;
  width: 8rem;
  height: 1px;
  margin-left: 7px;
  background-color: white;
}
.about_header > text {
  color: #64ffda;
  font-family: sans-serif;
  font-size: x-large;
}
.about_header > h3 {
  color: white;
  margin-left: 1.1rem;
  font-size: 1.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.about {
  margin-top: 1rem;
  height: fit-content;
}
.about > p {
  font-size: 1.2rem;
  color: aquamarine;
  padding: 0 1rem;
}
.techno {
  color: #beeaff !important;
  margin-top: 3rem;
}
.skills_list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 500px));
  gap: 20px 10px;
  padding: 0px;
  overflow: hidden;
  border: 2px solid lightblue;
  border-radius: 10px;
  list-style: none;
  color: #2a8bff;
  font-size: 1.2rem;
  justify-content: space-around;
}
.skills_list li {
  padding-left: 20px;
}
.skills_list li::before {
  content: "▹";
  left: 0px;
  color: #64ffda;
  font-size: var(--fz-sm);
  line-height: 12px;
}
.avtar {
  justify-content: center;
  display: flex;
  margin-top: 2rem;
}
.avtar > img {
  width: 40vw;
  border: 2px solid white;
  border-radius: 1rem;
}
.box {
  width: 40vw;
  border: 2px solid #64ffda;
  border-radius: 10px;
  position: relative;
  top: 10px;
  left: -50px;
  z-index: -1;
}
.Projects {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #1c57ada1;
  border-radius: 10px;
}
.Projects > h3 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 0;
  padding: 1rem;
}
.Projects > ol > li {
  color: white;
  list-style: circle;
  line-height: 2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.projectLink {
  height: 3vh;
  border-radius: 50%;
  border: 1px solid white;
  margin-left: 0.5%;
  margin-top: 5%;
  background: white;
}
.Footer {
  margin: auto;
  width: 90%;
  margin-top: 4rem;
  height: auto;
  background-color: #287ce5;
  display: flex;
  border-radius: 20px;
  justify-content: space-around;
}

.Footer > a > img {
  height: 3vh;
  border-radius: 50%;
  border: 1px solid white;
  margin-top: 25%;
  background: white;
}
