.mobile_navbar{
    font-size: 1.5rem;
    border: 2px solid blue;
    float: right;
}
.mobile_navbar_item{
       position: relative;
}
.mobile_navbar_dropdown{
    background-color: lightblue;
position: fixed;
top: 2.8rem;
opacity: 0;
width: 100vw;
transform: scale(0.3);
transform-origin: top right;
transition: transform 0.4s, opacity 0.2s;
display: block;
height: 100vh;
text-align: center;
left: 0rem;
}
.mobile_navbar_dropdown >ul{
    list-style-type: none;
    padding: 8px 0px;
}
.mobile_navbar_item:hover .mobile_navbar_dropdown{
    opacity: 1;
    transform: scale(1);
}