.body {
  background-color: #494545;
  transition: background-color 0.3s;
}
.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transform: rotate(18deg);
  margin-left: 10px;
  margin-right: auto;
  display: flexbox;
}
.search {
  height: 25px;
  display: block;
  outline: none;
  color: rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  text-align: center;
  border-radius: 20px;
  border-color: rgb(39, 76, 241);
  border-bottom-color: rgb(39, 76, 241);
  transition: width 2s;
}
.search:hover {
  transform: scale(1.8);
  transition: transform 0.5s;
}
.submit {
  color: red;
  width: auto;
  height: 25px;
  height: 25px;
  display: block;
  font-size: large;
  margin-right: auto;
  margin-left: auto;
  border-radius: 2px;
  border-color: red;
  outline: auto;
  background-color: white;
  border: none;
  font-family: "Fira Code Bold";
}
.submit:hover {
  color: blue;
}
.checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}
.switch {
  position: fixed;
  display: flex;
  cursor: pointer;
  width: 80px;
  left: 90%;
  top: 20px;
  height: 30px;
  border-radius: 50px;
  background-color: #362f2f;
  transition: background-color 0.3s;
}
.circle {
  position: absolute;
  top: 0.2px;
  left: 5px;
  width: 20px;
  height: 20px;
  margin-top: 5px;
  border-radius: 50px;
  background: rgb(233, 21, 21);
  transition: 0.3s;
}
.checkbox:checked + .switch .circle {
  left: calc(100% - 5px);
  transform: translate(-100%);
}
.checkbox:checked + .switch {
  background-color: #1c60f3;
}
.menu {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  height: 20%;
  position: fixed;
  text-align-last: center;
}
.java,
.python,
.javafx,
.advancejava {
  position: static;
  display: inline-table;
  outline: none;
  border-color: black;
  border-radius: 6px;
  height: 20vh;
  cursor: pointer;
  color: white;
  font-family: "Georgia";
  font-size: 20px;
  background-color: rgb(4, 142, 255);
  width: 100px;
}

svg {
  background: rgb(255, 255, 255);
}
svg text {
  font-family: "URW Gothic ";
  font-size: 5rem;
  stroke-width: 3px;
  fill: transparent;
  stroke: #e0143d;
  margin-right: auto;
  margin-left: auto;
  letter-spacing: 2px;
  animation: effect 6s infinite alternate;
}
@keyframes effect {
  0% {
    stroke-dasharray: 0 70%;
  }
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffset: 10%;
  }
}
