body {
  padding: 0;
  margin: 0;
}
html {
  font-size: 4rem;
}
@media screen and (max-width: 412px) {
  html {
    font-size: 3.2rem;
  }
  svg {
    width: 20%;
  }
}
.nevbar {
  position: relative;
  font-family: "Georgia bold";
  box-shadow: 0px 10px 15px #1760ec;
  border: 5px solid rgb(235, 17, 17);
}
.links {
  font-size: 0.55rem;
  position: absolute;
  display: block;
  right: 0.2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  top: 0.15rem;
}
.avtar {
  border-radius: 50%;
  width: auto;
  margin-top: 3px;
  height: 45px;
  position: absolute;
  left: 15px;
}
.avtar:hover {
  box-shadow: 0px 0px 10px 3px rgb(29, 29, 243);
}

svg {
  position: relative;
  height: 45px;
  width: 50%;
  left: 1rem;
}
svg text {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 0.5rem;
  stroke-width: 2px;
  fill: transparent;
  stroke: #e0143d;
  margin-right: auto;
  margin-left: auto;
  letter-spacing: 3px;
  animation: effect 6s infinite alternate;
}
@keyframes effect {
  0% {
    stroke-dasharray: 0 70%;
  }
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffset: 10%;
  }
}

.contain {
  position: relative;
  display: block;
  top: 0.9rem;
  width: 5rem;
  height: 8rem;
  background: darkcyan;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  font-family: "Georgia";
  border: 5px solid white;
  box-shadow: 0px 0px 10px 10px blue;
}
.img {
  top: 4%;
  display: block;
  position: relative;
  height: 15%;
  width: auto;
  border-radius: 60%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 2px solid blue;
}
h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 0.5rem;
  text-align: center;
  position: relative;
  border-radius: 20px;
  top: 0.2rem;
  color: white;
  text-shadow: 1px 1px 10px blue;
  padding-bottom: 30;
  border-radius: 50%;
}
.line {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 2.5rem;
  border-radius: 20px;
  top: 0.05rem;
  border: 3px solid rgb(55, 55, 70);
}
.images {
  top: 30%;
  display: inline-block;
  width: 14%;
  height: auto;
  border-radius: 50%;
  border: 2px solid blue;
  margin-left: auto;
  margin-right: auto;
  left: 19%;
  position: relative;
}
.instagram {
  background-color: white;
}
.github {
  background-color: black;
}
