body {
  padding: 0;
  margin: 2px;
}
html {
  font-size: 4rem;
}
@media screen and (max-width: 412px) {
  html {
    font-size: 3.2rem;
  }
  header > img {
    width: auto;
    height: 70vh;
  }
  .container > text {
    font-size: 0.5rem;
  }
}
header > img {
  width: 95%;
  margin-left: 7px;
  opacity: 0.4;
  height: 30vh;
  border: 3px solid black;
  border-radius: 0px 40px 0px 40px;
}
header > h1 {
  top: 3rem;
  color: black;
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  position: absolute;
  margin-left: 1rem;
  font-size: 0.5rem;
  border-radius: 0.1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 5px 5px 10px black;
  box-shadow: 0px 0px 5px black, -5px -5px 5px blue;

}

header > h3 {
  display: block;
  position: relative;
  text-align: right;
  font-size: 0.3rem;
  top: -1rem;
  padding-right: 15px;
}
.container {
  padding: 5px;
  display: block;
  position: relative;
  top: -60px;
  font-family: "Courier New", Courier, monospace;
  line-height: 0.4rem;
  font-size: 0.5rem;
}
.container > text {
  line-height: 0.6rem;
  color: blue;
  text-transform: capitalize;
  background-color: azure;
}
